<ul class="select">
    <li><a href="{{ path('admin') }}"><b>Dashboard</b><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
        <div class="select_sub">
            <ul class="sub">
                <li><a></a></li>
            </ul>
        </div>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>

<div class="nav-divider">&nbsp;</div>

<ul class="select">
    <li><a href="{{ path('admin_page') }}"><b>Pages</b><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
        <div class="select_sub">
            <ul class="sub">
                <li><a href="{{ path('admin_page_new') }}">New Page</a></li>
                <li><a href="{{ path('admin_page') }}">Show Pages</a></li>
            </ul>
        </div>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>

<div class="nav-divider">&nbsp;</div>

<ul class="select">
    <li><a href="{{ path('admin_profile') }}"><b>Profiles</b><!--[if IE 7]><!--></a><!--<![endif]-->
    <!--[if lte IE 6]><table><tr><td><![endif]-->
        <div class="select_sub">
            <ul class="sub">
                <li><a href="{{ path('admin_profile_new') }}">New Profile</a></li>
                <li><a href="{{ path('admin_profile') }}">Show Profiles</a></li>
            </ul>
        </div>
    <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
</ul>

<div class="nav-divider">&nbsp;</div>
